* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  background: #007bff;
  color: white;
  padding: 10px 0;
}

.container {
  flex: 1; /* This makes the container grow and take available space */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.colorful-button {
  background: linear-gradient(45deg, #ff6b6b, #f7b733);
  border: none;
  color: white;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s;
  margin: 10px; /* Add some margin between buttons */
}

.colorful-button:hover {
  transform: scale(1.1);
}

footer {
  margin-top: auto; /* Pushes footer to the bottom */
  padding: 10px 0;
  background: #007bff;
  color: white;
  text-align: center;
}
